In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder
from sklearn.dummy import DummyClassifier

In [2]:
# import CSV
df = pd.read_csv(os.path.join("Resources", "ufc-master.csv"))
df.head()

D:\Users\lynel\anaconda3\envs\PythonAdv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (79,80) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,R_fighter,B_fighter,R_odds,B_odds,R_ev,B_ev,date,location,country,Winner,...,R_td_attempted_bout,B_td_attempted_bout,R_td_pct_bout,B_td_pct_bout,R_sub_attempts_bout,B_sub_attempts_bout,R_pass_bout,B_pass_bout,R_rev_bout,B_rev_bout
0,Alistair Overeem,Alexander Volkov,150,-182,150.000000,54.945055,2/6/2021,"Las Vegas, Nevada, USA",USA,Blue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Cory Sandhagen,Frankie Edgar,-400,300,25.000000,300.000000,2/6/2021,"Las Vegas, Nevada, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Alexandre Pantoja,Manel Kape,-125,100,80.000000,100.000000,2/6/2021,"Las Vegas, Nevada, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Diego Ferreira,Beneil Dariush,-125,105,80.000000,105.000000,2/6/2021,"Las Vegas, Nevada, USA",USA,Blue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Michael Johnson,Clay Guida,-225,175,44.444444,175.000000,2/6/2021,"Las Vegas, Nevada, USA",USA,Blue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Get rows and columns
df.shape

(4566, 137)

In [4]:
# Get info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4566 entries, 0 to 4565
Columns: 137 entries, R_fighter to B_rev_bout
dtypes: bool(1), float64(73), int64(47), object(16)
memory usage: 4.7+ MB

In [5]:
# Count all the null values in each column
pd.set_option('display.max_rows', None)
df.isnull().sum().sort_values(ascending=False)

B_Women's Featherweight_rank    4566
R_Women's Featherweight_rank    4553
B_Pound-for-Pound_rank          4538
B_Women's Flyweight_rank        4532
R_Women's Flyweight_rank        4516
B_Women's Strawweight_rank      4511
B_Women's Bantamweight_rank     4492
B_Bantamweight_rank             4486
B_Lightweight_rank              4484
B_Welterweight_rank             4484
B_Featherweight_rank            4482
B_Light Heavyweight_rank        4479
B_Flyweight_rank                4476
B_Middleweight_rank             4476
R_Women's Strawweight_rank      4470
B_Heavyweight_rank              4464
R_Women's Bantamweight_rank     4457
R_Middleweight_rank             4445
R_Featherweight_rank            4441
R_Bantamweight_rank             4438
R_Lightweight_rank              4438
R_Welterweight_rank             4435
R_Light Heavyweight_rank        4434
R_Heavyweight_rank              4433
R_Flyweight_rank                4432
R_Pound-for-Pound_rank          4418
B_match_weightclass_rank        3754
R_match_weightclass_rank        3333
finish_details                  2542
R_rev_bout                      1794
B_rev_bout                      1794
R_sub_attempts_bout             1794
B_sig_str_pct_bout              1794
B_td_attempted_bout             1794
R_td_attempted_bout             1794
B_td_landed_bout                1794
B_sub_attempts_bout             1794
R_td_landed_bout                1794
B_tot_str_attempted_bout        1794
R_tot_str_attempted_bout        1794
B_tot_str_landed_bout           1794
R_tot_str_landed_bout           1794
R_sig_str_pct_bout              1794
B_td_pct_bout                   1794
B_sig_str_attempted_bout        1794
R_sig_str_attempted_bout        1794
B_sig_str_landed_bout           1794
R_sig_str_landed_bout           1794
B_kd_bout                       1794
R_kd_bout                       1794
R_pass_bout                     1794
B_pass_bout                     1794
R_td_pct_bout                   1794
B_avg_SIG_STR_landed             930
B_avg_TD_pct                     842
B_avg_TD_landed                  833
B_avg_SUB_ATT                    832
B_avg_SIG_STR_pct                765
total_fight_time_secs            467
finish_round                     467
finish_round_time                467
R_avg_SIG_STR_landed             455
finish                           448
R_avg_TD_pct                     367
R_avg_SIG_STR_pct                357
R_avg_SUB_ATT                    357
R_avg_TD_landed                  357
better_rank                       10
B_win_by_Decision_Majority         0
B_total_rounds_fought              0
B_total_title_bouts                0
B_losses                           0
B_win_by_Decision_Split            0
B_win_by_Decision_Unanimous        0
B_win_by_KO/TKO                    0
B_Height_cms                       0
B_win_by_TKO_Doctor_Stoppage       0
B_wins                             0
B_Stance                           0
B_win_by_Submission                0
country                            0
B_longest_win_streak               0
B_draw                             0
B_Weight_lbs                       0
B_fighter                          0
R_odds                             0
B_odds                             0
R_ev                               0
B_ev                               0
date                               0
location                           0
Winner                             0
title_bout                         0
weight_class                       0
gender                             0
no_of_rounds                       0
B_current_lose_streak              0
B_current_win_streak               0
B_Reach_cms                        0
total_title_bout_dif               0
R_current_lose_streak              0
B_age                              0
win_streak_dif                     0
longest_win_streak_dif             0
win_dif                            0
loss_dif                           0
total_round_dif                    0
ko_dif                             0
sub_dif                            0
height_dif                         0
reach_dif                          0
age_dif                            0
sig_str_dif                        0
avg_sub_att_dif                    0
avg_td_dif                         0
empty_arena                        0
constant_1                         0
lose_streak_dif                    0
R_age                              0
R_current_win_streak               0
R_Weight_lbs                       0
R_draw                             0
R_longest_win_streak               0
R_losses                           0
R_total_rounds_fought              0
R_total_title_bouts                0
R_win_by_Decision_Majority         0
R_win_by_Decision_Split            0
R_win_by_Decision_Unanimous        0
R_win_by_KO/TKO                    0
R_win_by_Submission                0
R_win_by_TKO_Doctor_Stoppage       0
R_wins                             0
R_Stance                           0
R_Height_cms                       0
R_Reach_cms                        0
R_fighter                          0
dtype: int64

In [6]:
# Drop Womens Featherweight Rank
df.drop(columns=["R_Women's Featherweight_rank", "B_Women's Featherweight_rank"], inplace=True)
df.shape

(4566, 135)

In [7]:
# Fill in nulls with 0
df.fillna(0, inplace=True)
df.head()

,R_fighter,B_fighter,R_odds,B_odds,R_ev,B_ev,date,location,country,Winner,...,R_td_attempted_bout,B_td_attempted_bout,R_td_pct_bout,B_td_pct_bout,R_sub_attempts_bout,B_sub_attempts_bout,R_pass_bout,B_pass_bout,R_rev_bout,B_rev_bout
0,Alistair Overeem,Alexander Volkov,150,-182,150.000000,54.945055,2/6/2021,"Las Vegas, Nevada, USA",USA,Blue,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Cory Sandhagen,Frankie Edgar,-400,300,25.000000,300.000000,2/6/2021,"Las Vegas, Nevada, USA",USA,Red,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Alexandre Pantoja,Manel Kape,-125,100,80.000000,100.000000,2/6/2021,"Las Vegas, Nevada, USA",USA,Red,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Diego Ferreira,Beneil Dariush,-125,105,80.000000,105.000000,2/6/2021,"Las Vegas, Nevada, USA",USA,Blue,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Michael Johnson,Clay Guida,-225,175,44.444444,175.000000,2/6/2021,"Las Vegas, Nevada, USA",USA,Blue,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
# Set features
X = df.drop(["Winner"], axis=1)
y = df["Winner"]

feature_names = X.columns

In [9]:
# Label Encode non numeric columns
label_encoder = LabelEncoder()
non_numeric = [i for i in X.columns if X[i].dtypes == 'object']
label_encoder.fit(y)
encoded_y = label_encoder.transform(y)

for i in X[non_numeric]:
    X[i] = label_encoder.fit_transform(X[i].astype(str))

In [10]:
#train

X_train, X_test, y_train, y_test = train_test_split(X, encoded_y, random_state=42)

X_train.head()

,R_fighter,B_fighter,R_odds,B_odds,R_ev,B_ev,date,location,country,title_bout,...,R_td_attempted_bout,B_td_attempted_bout,R_td_pct_bout,B_td_pct_bout,R_sub_attempts_bout,B_sub_attempts_bout,R_pass_bout,B_pass_bout,R_rev_bout,B_rev_bout
1456,363,57,-135,115,74.074074,115.000000,13,22,21,False,...,12.0,1.0,0.58,1.0,0.0,2.0,1.0,4.0,2.0,2.0
2934,1183,1399,-365,328,27.397260,328.000000,94,137,2,False,...,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2451,1024,391,-440,350,22.727273,350.000000,76,81,12,False,...,6.0,2.0,0.50,0.5,0.0,0.0,0.0,0.0,0.0,0.0
286,185,324,-286,220,29.850746,245.000000,300,0,27,False,...,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1504,58,479,210,-230,210.000000,43.478261,117,39,21,False,...,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
#Fit
rfc = RandomForestClassifier(n_estimators=200)
rfc = rfc.fit(X_train, y_train)

In [12]:
# Get Score
print(rfc.score(X_test, y_test))

0.7784588441330998

In [14]:
# See Feature importance
importances = rfc.feature_importances_
importances

array([0.01632534, 0.01617251, 0.03417797, 0.03627709, 0.03845573,
       0.03013932, 0.01566433, 0.0115203 , 0.00759565, 0.00113343,
       0.0073135 , 0.00096284, 0.00094084, 0.00373579, 0.00364309,
       0.00064035, 0.01155729, 0.01137512, 0.00654842, 0.00868768,
       0.00801943, 0.00459011, 0.00476182, 0.00771806, 0.00140947,
       0.00021029, 0.00196224, 0.00321694, 0.0033702 , 0.00263162,
       0.00040489, 0.00524761, 0.00281526, 0.00869875, 0.01066495,
       0.00681929, 0.00359203, 0.00420168, 0.0002924 , 0.01256014,
       0.01254603, 0.00775179, 0.01181208, 0.01065068, 0.00567919,
       0.00571496, 0.00963495, 0.00228588, 0.0010236 , 0.00292563,
       0.00505156, 0.00451417, 0.00358605, 0.00070889, 0.00654765,
       0.00289837, 0.00872199, 0.0098942 , 0.00680373, 0.01132719,
       0.01197706, 0.00458041, 0.00498718, 0.00617936, 0.00731637,
       0.00843222, 0.01030355, 0.00328437, 0.00576557, 0.00529469,
       0.00937017, 0.01174837, 0.01294272, 0.01383812, 0.01025178,
       0.01326234, 0.00077918, 0.        , 0.00294662, 0.00338284,
       0.00045461, 0.00040665, 0.00090114, 0.00107012, 0.00057161,
       0.00082672, 0.00097159, 0.00076819, 0.00058538, 0.00080141,
       0.00053499, 0.00072863, 0.00030151, 0.00029733, 0.00122624,
       0.00047958, 0.00077172, 0.00035047, 0.00063506, 0.00060337,
       0.00043958, 0.00029042, 0.00056609, 0.00017438, 0.00163873,
       0.00787095, 0.00846575, 0.00409769, 0.00867418, 0.00862015,
       0.01879847, 0.028713  , 0.01765148, 0.01787346, 0.01070162,
       0.01203618, 0.02207755, 0.01736422, 0.02111208, 0.01891419,
       0.01458319, 0.01281616, 0.00565509, 0.00978432, 0.00453149,
       0.00571279, 0.0091623 , 0.01227272, 0.00931536, 0.00686332,
       0.01730117, 0.01778741, 0.00104894, 0.00102395])

In [15]:
# Sort features by importance
sorted(zip(rfc.feature_importances_, feature_names), reverse=True)

[(0.03845573446464041, 'R_ev'),
 (0.03627708875827188, 'B_odds'),
 (0.03417796794017523, 'R_odds'),
 (0.030139324901142066, 'B_ev'),
 (0.02871300059781642, 'B_kd_bout'),
 (0.022077545926282194, 'R_sig_str_pct_bout'),
 (0.021112082744670205, 'R_tot_str_landed_bout'),
 (0.018914185930949103, 'B_tot_str_landed_bout'),
 (0.0187984739390588, 'R_kd_bout'),
 (0.017873464938774904, 'B_sig_str_landed_bout'),
 (0.017787407356884194, 'B_pass_bout'),
 (0.017651484580524998, 'R_sig_str_landed_bout'),
 (0.017364215671322264, 'B_sig_str_pct_bout'),
 (0.01730117262947767, 'R_pass_bout'),
 (0.016325338272428994, 'R_fighter'),
 (0.01617251064732357, 'B_fighter'),
 (0.015664329229888797, 'date'),
 (0.01458319247336399, 'R_tot_str_attempted_bout'),
 (0.013838115957975104, 'sig_str_dif'),
 (0.013262344719491078, 'avg_td_dif'),
 (0.012942715690508014, 'age_dif'),
 (0.012816164995285304, 'B_tot_str_attempted_bout'),
 (0.01256014012435789, 'R_avg_SIG_STR_landed'),
 (0.012546028106843429, 'R_avg_SIG_STR_pct'),
 (0.012272721936826705, 'B_td_pct_bout'),
 (0.012036181607321006, 'B_sig_str_attempted_bout'),
 (0.011977062424211699, 'B_age'),
 (0.01181208145079021, 'R_avg_TD_landed'),
 (0.01174837379289863, 'reach_dif'),
 (0.011557294086286399, 'B_avg_SIG_STR_landed'),
 (0.011520302959356347, 'location'),
 (0.011375118414246543, 'B_avg_SIG_STR_pct'),
 (0.0113271855341944, 'R_age'),
 (0.010701618579982777, 'R_sig_str_attempted_bout'),
 (0.01066495045897022, 'B_Reach_cms'),
 (0.010650679350551537, 'R_avg_TD_pct'),
 (0.010303550340670594, 'total_round_dif'),
 (0.010251778763222355, 'avg_sub_att_dif'),
 (0.009894195354379577, 'R_Reach_cms'),
 (0.009784316457796606, 'B_td_landed_bout'),
 (0.00963495431244544, 'R_total_rounds_fought'),
 (0.009370166448595792, 'height_dif'),
 (0.009315357385885022, 'R_sub_attempts_bout'),
 (0.009162297290844959, 'R_td_pct_bout'),
 (0.008721989786247492, 'R_Height_cms'),
 (0.00869874660965435, 'B_Height_cms'),
 (0.008687676260650052, 'B_avg_TD_landed'),
 (0.008674175585177793, 'finish_round_time'),
 (0.008620153223324786, 'total_fight_time_secs'),
 (0.008465747731156237, 'finish_details'),
 (0.008432222344642545, 'loss_dif'),
 (0.00801942677595639, 'B_avg_TD_pct'),
 (0.00787095092349537, 'finish'),
 (0.007751793518228182, 'R_avg_SUB_ATT'),
 (0.007718057159813655, 'B_total_rounds_fought'),
 (0.007595653246487879, 'country'),
 (0.007316370713665822, 'win_dif'),
 (0.007313504390830519, 'weight_class'),
 (0.006863321756878503, 'B_sub_attempts_bout'),
 (0.006819288371465591, 'B_Weight_lbs'),
 (0.006803726526867692, 'R_Weight_lbs'),
 (0.00654841941644952, 'B_avg_SUB_ATT'),
 (0.006547653952881528, 'R_wins'),
 (0.006179360891787889, 'longest_win_streak_dif'),
 (0.005765569669965242, 'ko_dif'),
 (0.005714963518376019, 'R_losses'),
 (0.005712787010627557, 'B_td_attempted_bout'),
 (0.0056791856628297475, 'R_longest_win_streak'),
 (0.005655093070267733, 'R_td_landed_bout'),
 (0.005294686886521544, 'sub_dif'),
 (0.005247610133203647, 'B_wins'),
 (0.005051555454320628, 'R_win_by_Decision_Unanimous'),
 (0.004987179261534193, 'win_streak_dif'),
 (0.004761820863121449, 'B_losses'),
 (0.004590108769040033, 'B_longest_win_streak'),
 (0.004580407599860017, 'lose_streak_dif'),
 (0.004531487315039732, 'R_td_attempted_bout'),
 (0.004514167731715202, 'R_win_by_KO/TKO'),
 (0.0042016776583856785, 'R_current_win_streak'),
 (0.004097691328097401, 'finish_round'),
 (0.00373579023031681, 'B_current_lose_streak'),
 (0.003643092655935584, 'B_current_win_streak'),
 (0.0035920319523031225, 'R_current_lose_streak'),
 (0.003586052626327773, 'R_win_by_Submission'),
 (0.003382838547788876, 'R_match_weightclass_rank'),
 (0.003370202439932953, 'B_win_by_KO/TKO'),
 (0.003284373989758672, 'total_title_bout_dif'),
 (0.0032169410136526936, 'B_win_by_Decision_Unanimous'),
 (0.002946620566922427, 'B_match_weightclass_rank'),
 (0.0029256285036678435, 'R_win_by_Decision_Split'),
 (0.0028983738206937964, 'R_Stance'),
 (0.0028152559119718743, 'B_Stance'),
 (0.0026316209589108946, 'B_win_by_Submission'),
 (0.00228588233999502, 'R_total_title_bouts'),
 (0.001962238747111429, 'B_win_by_Decision_Split'),
 (0.0016387278281351247, 'better_rank'),
 (0.001409474248092902, 'B_total_title_bouts'),
 (0.0012262381379699373, "B_Women's Bantamweight_rank"),
 (0.0011334283161017606, 'title_bout'),
 (0.001070115102688266, 'R_Heavyweight_rank'),
 (0.0010489359132503115, 'R_rev_bout'),
 (0.0010239496014264446, 'B_rev_bout'),
 (0.0010236017652851498, 'R_win_by_Decision_Majority'),
 (0.0009715879469380475, 'R_Welterweight_rank'),
 (0.000962843637494755, 'gender'),
 (0.0009408437834889144, 'no_of_rounds'),
 (0.0009011408531718641, "R_Women's Bantamweight_rank"),
 (0.0008267204591545936, 'R_Middleweight_rank'),
 (0.0008014064481650337, 'R_Bantamweight_rank'),
 (0.0007791786095817464, 'empty_arena'),
 (0.0007717195109086305, 'B_Light Heavyweight_rank'),
 (0.0007681867994286331, 'R_Lightweight_rank'),
 (0.0007286300917771498, 'R_Pound-for-Pound_rank'),
 (0.0007088876929596999, 'R_win_by_TKO_Doctor_Stoppage'),
 (0.0006403549705908757, 'B_draw'),
 (0.0006350623247191406, 'B_Welterweight_rank'),
 (0.0006033699809477157, 'B_Lightweight_rank'),
 (0.0005853847983333799, 'R_Featherweight_rank'),
 (0.000571613718676494, 'R_Light Heavyweight_rank'),
 (0.0005660913802705789, 'B_Flyweight_rank'),
 (0.0005349905533945775, 'R_Flyweight_rank'),
 (0.0004795769292605701, 'B_Heavyweight_rank'),
 (0.0004546068906022155, "R_Women's Flyweight_rank"),
 (0.0004395753984541803, 'B_Featherweight_rank'),
 (0.0004066549793826045, "R_Women's Strawweight_rank"),
 (0.00040489481902638923, 'B_win_by_TKO_Doctor_Stoppage'),
 (0.0003504736942207846, 'B_Middleweight_rank'),
 (0.00030151491293456645, "B_Women's Flyweight_rank"),
 (0.0002973319841472908, "B_Women's Strawweight_rank"),
 (0.000292402317280804, 'R_draw'),
 (0.0002904205407809468, 'B_Bantamweight_rank'),
 (0.00021028574664211304, 'B_win_by_Decision_Majority'),
 (0.00017438434352522972, 'B_Pound-for-Pound_rank'),
 (0.0, 'constant_1')]