In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder
from sklearn.dummy import DummyClassifier

In [3]:
df = pd.read_csv('Resources/ufc-master.csv')
df.head()

D:\Users\lynel\anaconda3\envs\PythonAdv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (79,80) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,R_fighter,B_fighter,R_odds,B_odds,R_ev,B_ev,date,location,country,Winner,...,R_td_attempted_bout,B_td_attempted_bout,R_td_pct_bout,B_td_pct_bout,R_sub_attempts_bout,B_sub_attempts_bout,R_pass_bout,B_pass_bout,R_rev_bout,B_rev_bout
0,Alistair Overeem,Alexander Volkov,150,-182,150.000000,54.945055,2/6/2021,"Las Vegas, Nevada, USA",USA,Blue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Cory Sandhagen,Frankie Edgar,-400,300,25.000000,300.000000,2/6/2021,"Las Vegas, Nevada, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Alexandre Pantoja,Manel Kape,-125,100,80.000000,100.000000,2/6/2021,"Las Vegas, Nevada, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Diego Ferreira,Beneil Dariush,-125,105,80.000000,105.000000,2/6/2021,"Las Vegas, Nevada, USA",USA,Blue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Michael Johnson,Clay Guida,-225,175,44.444444,175.000000,2/6/2021,"Las Vegas, Nevada, USA",USA,Blue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.shape

(4566, 137)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4566 entries, 0 to 4565
Columns: 137 entries, R_fighter to B_rev_bout
dtypes: bool(1), float64(73), int64(47), object(16)
memory usage: 4.7+ MB

In [7]:
num_col = df._get_numeric_data().columns
num_col

Index(['R_odds', 'B_odds', 'R_ev', 'B_ev', 'title_bout', 'no_of_rounds',
       'B_current_lose_streak', 'B_current_win_streak', 'B_draw',
       'B_avg_SIG_STR_landed',
       ...
       'R_td_attempted_bout', 'B_td_attempted_bout', 'R_td_pct_bout',
       'B_td_pct_bout', 'R_sub_attempts_bout', 'B_sub_attempts_bout',
       'R_pass_bout', 'B_pass_bout', 'R_rev_bout', 'B_rev_bout'],
      dtype='object', length=121)

In [8]:
cat_col = [col for col in df.columns if col not in num_col]
cat_col

['R_fighter',
 'B_fighter',
 'date',
 'location',
 'country',
 'Winner',
 'weight_class',
 'gender',
 'B_Stance',
 'R_Stance',
 'B_match_weightclass_rank',
 'R_match_weightclass_rank',
 'better_rank',
 'finish',
 'finish_details',
 'finish_round_time']

In [27]:
pd.set_option('display.max_rows', None)
df[num_col].isnull().sum().sort_values(ascending=False)

B_Women's Featherweight_rank    4566
R_Women's Featherweight_rank    4553
B_Pound-for-Pound_rank          4538
B_Women's Flyweight_rank        4532
R_Women's Flyweight_rank        4516
B_Women's Strawweight_rank      4511
B_Women's Bantamweight_rank     4492
B_Bantamweight_rank             4486
B_Lightweight_rank              4484
B_Welterweight_rank             4484
B_Featherweight_rank            4482
B_Light Heavyweight_rank        4479
B_Middleweight_rank             4476
B_Flyweight_rank                4476
R_Women's Strawweight_rank      4470
B_Heavyweight_rank              4464
R_Women's Bantamweight_rank     4457
R_Middleweight_rank             4445
R_Featherweight_rank            4441
R_Lightweight_rank              4438
R_Bantamweight_rank             4438
R_Welterweight_rank             4435
R_Light Heavyweight_rank        4434
R_Heavyweight_rank              4433
R_Flyweight_rank                4432
R_Pound-for-Pound_rank          4418
R_rev_bout                      1794
B_rev_bout                      1794
B_td_landed_bout                1794
B_sub_attempts_bout             1794
B_td_pct_bout                   1794
R_td_pct_bout                   1794
B_td_attempted_bout             1794
R_td_attempted_bout             1794
B_pass_bout                     1794
R_pass_bout                     1794
R_td_landed_bout                1794
B_tot_str_attempted_bout        1794
R_tot_str_attempted_bout        1794
B_tot_str_landed_bout           1794
R_tot_str_landed_bout           1794
B_sig_str_pct_bout              1794
R_sig_str_pct_bout              1794
B_sig_str_attempted_bout        1794
R_sig_str_attempted_bout        1794
B_sig_str_landed_bout           1794
R_sig_str_landed_bout           1794
B_kd_bout                       1794
R_kd_bout                       1794
R_sub_attempts_bout             1794
B_avg_SIG_STR_landed             930
B_avg_TD_pct                     842
B_avg_TD_landed                  833
B_avg_SUB_ATT                    832
B_avg_SIG_STR_pct                765
total_fight_time_secs            467
finish_round                     467
R_avg_SIG_STR_landed             455
R_avg_TD_pct                     367
R_avg_SIG_STR_pct                357
R_avg_TD_landed                  357
R_avg_SUB_ATT                    357
B_draw                             0
B_current_win_streak               0
B_odds                             0
R_ev                               0
R_draw                             0
R_current_win_streak               0
R_current_lose_streak              0
B_Weight_lbs                       0
B_Reach_cms                        0
B_Height_cms                       0
B_wins                             0
B_win_by_TKO_Doctor_Stoppage       0
B_win_by_Submission                0
B_win_by_KO/TKO                    0
B_win_by_Decision_Unanimous        0
B_win_by_Decision_Split            0
B_win_by_Decision_Majority         0
B_total_title_bouts                0
B_total_rounds_fought              0
B_losses                           0
B_longest_win_streak               0
B_ev                               0
title_bout                         0
no_of_rounds                       0
B_current_lose_streak              0
sub_dif                            0
R_longest_win_streak               0
win_streak_dif                     0
constant_1                         0
empty_arena                        0
avg_td_dif                         0
avg_sub_att_dif                    0
sig_str_dif                        0
age_dif                            0
reach_dif                          0
height_dif                         0
ko_dif                             0
total_title_bout_dif               0
total_round_dif                    0
loss_dif                           0
win_dif                            0
longest_win_streak_dif             0
lose_streak_dif                    0
R_losses                           0
B_age                              0
R_age                              0
R_Weight_lbs                       0
R_Reach_cms                        0
R_Height_cms                       0
R_wins                             0
R_win_by_TKO_Doctor_Stoppage       0
R_win_by_Submission                0
R_win_by_KO/TKO                    0
R_win_by_Decision_Unanimous        0
R_win_by_Decision_Split            0
R_win_by_Decision_Majority         0
R_total_title_bouts                0
R_total_rounds_fought              0
R_odds                             0
dtype: int64

In [25]:
df[cat_col].isnull().sum().sort_values(ascending=False)

B_match_weightclass_rank    3754
R_match_weightclass_rank    3333
finish_details              2542
finish_round_time            467
finish                       448
better_rank                   10
R_Stance                       0
B_Stance                       0
gender                         0
weight_class                   0
Winner                         0
country                        0
location                       0
date                           0
B_fighter                      0
R_fighter                      0
dtype: int64