In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import os

In [2]:
# import CSV
df = pd.read_csv(os.path.join("Resources", "ufc-master.csv"))
df = df.fillna(df.mean())

df.head()

D:\Users\lynel\anaconda3\envs\PythonAdv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (79,80) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,R_fighter,B_fighter,R_odds,B_odds,R_ev,B_ev,date,location,country,Winner,...,R_td_attempted_bout,B_td_attempted_bout,R_td_pct_bout,B_td_pct_bout,R_sub_attempts_bout,B_sub_attempts_bout,R_pass_bout,B_pass_bout,R_rev_bout,B_rev_bout
0,Alistair Overeem,Alexander Volkov,150,-182,150.000000,54.945055,2/6/2021,"Las Vegas, Nevada, USA",USA,Blue,...,3.107143,2.768759,0.293701,0.243701,0.403319,0.33189,1.245671,0.920274,0.137807,0.138889
1,Cory Sandhagen,Frankie Edgar,-400,300,25.000000,300.000000,2/6/2021,"Las Vegas, Nevada, USA",USA,Red,...,3.107143,2.768759,0.293701,0.243701,0.403319,0.33189,1.245671,0.920274,0.137807,0.138889
2,Alexandre Pantoja,Manel Kape,-125,100,80.000000,100.000000,2/6/2021,"Las Vegas, Nevada, USA",USA,Red,...,3.107143,2.768759,0.293701,0.243701,0.403319,0.33189,1.245671,0.920274,0.137807,0.138889
3,Diego Ferreira,Beneil Dariush,-125,105,80.000000,105.000000,2/6/2021,"Las Vegas, Nevada, USA",USA,Blue,...,3.107143,2.768759,0.293701,0.243701,0.403319,0.33189,1.245671,0.920274,0.137807,0.138889
4,Michael Johnson,Clay Guida,-225,175,44.444444,175.000000,2/6/2021,"Las Vegas, Nevada, USA",USA,Blue,...,3.107143,2.768759,0.293701,0.243701,0.403319,0.33189,1.245671,0.920274,0.137807,0.138889

In [3]:
# Assign X (data) and y (target)

X = df[['B_ev','R_odds','R_ev','B_odds','B_kd_bout','R_tot_str_landed_bout', 'R_sig_str_pct_bout','B_tot_str_landed_bout', 'B_pass_bout',  'B_sig_str_landed_bout', 'B_sig_str_pct_bout', 'R_kd_bout','R_pass_bout','R_fighter',  'R_sig_str_landed_bout', 'date', 'R_tot_str_attempted_bout',  'B_fighter',  'R_avg_SIG_STR_pct', 'B_td_pct_bout',  'R_avg_TD_pct', 'sig_str_dif','R_avg_TD_landed', 'B_avg_SIG_STR_pct','B_avg_SIG_STR_landed' , 'age_dif', 'B_tot_str_attempted_bout','R_avg_SIG_STR_landed','avg_td_dif','location','B_age','B_td_landed_bout','R_age',  'reach_dif',  'total_round_dif', 'B_avg_TD_landed','B_sig_str_attempted_bout', 'R_sig_str_attempted_bout']]

y = df["Winner"]

print(X.shape, y.shape)

(4566, 38) (4566,)

In [4]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
non_numeric = [i for i in X.columns if X[i].dtypes == 'object']
label_encoder.fit(y)
encoded_y = label_encoder.transform(y)

for i in X[non_numeric]:
    X[i] = label_encoder.fit_transform(X[i].astype(str))

D:\Users\lynel\anaconda3\envs\PythonAdv\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [5]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [6]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(max_iter=1000)
classifier

LogisticRegression(max_iter=1000)

In [7]:
classifier.fit(X_train, y_train)

D:\Users\lynel\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\linear_model\_logistic.py:765: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(max_iter=1000)

In [8]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.773072429906542
Testing Data Score: 0.7723292469352014

In [9]:
predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   ['Blue' 'Blue' 'Red' 'Blue' 'Blue' 'Red' 'Blue' 'Blue' 'Blue' 'Red']
First 10 Actual labels: ['Blue', 'Blue', 'Red', 'Blue', 'Blue', 'Blue', 'Blue', 'Red', 'Blue', 'Blue']

In [10]:
pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

     Prediction Actual
0          Blue   Blue
1          Blue   Blue
2           Red    Red
3          Blue   Blue
4          Blue   Blue
...         ...    ...
1137        Red    Red
1138       Blue    Red
1139       Blue   Blue
1140       Blue   Blue
1141        Red    Red

[1142 rows x 2 columns]